.MenuContainerHeader {}

.App-headerN {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #541084;
    padding-top: 7vw;

}

.divMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC007;
    height: 4vw;
    width: 100%;
    position: relative;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5vw;
}

.socialIcons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    right: 5vw;
}

.menuDiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

.App-headerN span {
    color: #541084;
    font-family: 'Rubik', sans-serif;
    font-size: calc(1.25vw + 0.2vw);
    /* Ajuste conforme necessário */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-inline: 1.5vw;

}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4vw;
}






.ContainerRow.sidebar-open {
    flex-direction: column;
    background: linear-gradient(to bottom, #541084, #8D1B94 70%, transparent 100%);
    width: 100%;
    position: absolute;
    top: -5vw;
    width: 100%;
    height: 78vw;
    z-index: 20;
    padding-bottom: vw;
}

.ContainerRow.sidebar-open span {
    color: #FFF;
    width: 100%;
    font-size: 5vw;

}


.dropsImage.sidebar-open {
    margin-top: 35vw;
}

.InnerContainerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 2vw;
    gap: 1vw;
}

.InnerContainerRow.sidebar-open {
    margin-top: 2vw;
    gap: 5vw;
}

/* Esconde os textos quando a tela for pequena */
@media (max-width: 600px) {
    .App-header span {
        display: none;
        margin-inline: 0vw;
    }

    .InnerContainerRow {
        display: none;
    }

    .App-header {
        display: flex;
        padding-top: 12vw;
    }

    .App-header img {
        width: 30vw;
        height: 15vw;
        margin-right: 44vw;
        object-fit: cover;

    }


}

@media (min-width: 601px) {
    .ButtonMenu {
        display: none;
    }
}

.ButtonMenu {
    background: none;
    border: none;
    padding: 0;
}

.App-header.sidebar-open img {
    width: 30vw;
    height: 15vw;
    margin-right: 0vw;
    object-fit: cover;
    padding: 4vw;
    padding-top: 17vw;
}

.xSvg {
    position: absolute;
    top: 18vw;
    right: 5vw;
}

.App-header.sidebar-open .InnerContainerRow {
    display: flex;
}

.App-header.sidebar-open {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4vw;
}

/* Mostra os textos em uma coluna quando o menu lateral estiver aberto */
.App-header.sidebar-open span {
    display: block;

    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: calc(2.25vw + 0.2vw);
    /* Ajuste conforme necessário */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline: 1.5vw;
    margin-bottom: 6vw;
}

.App-headerN img {
    position: absolute;
    width: 22vw;
    height: 11vw;
    z-index: 22;
    margin-right: 2vw;
    left: 4vw;
    top: 3vw;

}

@media (min-width: 320px) {
    .App-headerN img {
        transform: scale(0.8);
    }
}

.ContainerRowN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ContainerRowN img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ContainerRowN span {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: calc(1.25vw + 0.2vw);
    /* Ajuste conforme necessário */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline: 1.5vw;
}

.InnerContainerRowN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}



.noticiasContainer {
    display: flex;
    flex-direction: column;

    width: 68vw;
    padding: 0 20px;
    padding-left: 6vw;
}

.noticiasContainer img {
    border-radius: 10px;

}

@media (max-width: 329px) {
    .noticiasContainer {

        width: 70vw;

    }
}

h1 {
    color: #541084;

    font-family: Rubik;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 5vw;
}

h2 {
    color: #2B2B2B;

    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    color: #541084;

    font-family: 'Rubik', sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5px;
    margin-inline: 5.5vw;
}


.descImage {
    color: #2B2B2B;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: lighter;
    opacity: 0.8;
}





.meu-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meu-conteudo a {
    color: #541084;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 107.835%;
    text-decoration-line: none;
}

.meu-conteudo img {
    width: auto;
    height: 42vw;
    border-radius: 8px;
}

.meu-conteudo a:hover {
    color: #541084;
    text-decoration: none;
}

.meu-conteudo em {
    font-style: italic;
    text-align: right;
}

.meu-conteudo p {

    color: #2B2B2B;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

/* Adicione a classe .alinhado-direita ao elemento em que deseja alinhar à direita */
.meu-conteudo .alinhado-direita {
    text-align: right;
}

.meu-conteudo strong {
    color: #541084;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;

    font-style: normal;
    font-weight: 700;
    line-height: 107.835%;
}



.youtube-iframe {
    height: 40vw;
    width: 100%;
    border-radius: 10px;
}

.spotify-iframe {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.containerDivisao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 24vw;
    margin-top: 5vw;
    background-color: #541084;
    border-radius: 24px;
    padding-inline: 1vw;
    margin-left: 5vw;

    color: #FFF;

    font-family: 'Rubik', sans-serif;
    font-size: 3.4vw;

    font-style: normal;
    font-weight: 700;
    margin-bottom: 7vw;
}

.containerDivisaoP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 28vw;
    margin-top: 5vw;
    background-color: #541084;
    border-radius: 24px;
    padding-inline: 1vw;
    margin-left: 5vw;

    color: #FFF;

    font-family: 'Rubik', sans-serif;
    font-size: 3.4vw;

    font-style: normal;
    font-weight: 700;
    margin-bottom: 7vw;
}

.containerDivisaoR {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 44vw;
    margin-top: 5vw;
    background-color: #541084;
    border-radius: 24px;
    padding-inline: 1vw;
    margin-left: 5vw;

    color: #FFF;

    font-family: 'Rubik', sans-serif;
    font-size: 3.4vw;

    font-style: normal;
    font-weight: 700;
}

.containerDivisaoC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 44vw;
    margin-top: 5vw;
    background-color: #541084;
    border-radius: 24px;
    padding-inline: 1vw;
    margin-left: 5vw;

    color: #FFF;

    font-family: 'Rubik', sans-serif;
    font-size: 3.4vw;

    font-style: normal;
    font-weight: 700;
    margin-bottom: 7vw;
}

.maisNoticias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.maisNoticias img {
    border-radius: 8px;
}


.maisNoticiasR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}



.noticia {
    display: flex;
    width: 62vw;

    padding: 10px;
    box-sizing: border-box;
    margin-left: 3.5vw;
}

.noticia img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin-right: 10px;
}

.noticia div {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.noticia h4 {
    padding-left: 1vw;
    margin: 1vw 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2.7vw;
    color: #541084;
    font-style: normal;
    font-weight: 700;
}

.noticia h5 {
    padding-left: 1vw;
    margin: 1vw 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;

    font-style: normal;
    font-weight: 400;
}

.noticia a {
    color: inherit;
    text-decoration: none;
}

.containerColuna1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-left: 5vw;
}

.containerColuna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.containerSpanFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerSpanFooter h4 {

    margin: 0 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
    color: #541084;
    font-style: normal;
    font-weight: 700;
    width: 85%;
}

.containerSpanFooter h5 {

    margin: 0 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3vw;

    font-style: normal;
    font-weight: 400;
    width: 85%;
    height: 4vw;
    opacity: 0.8;
    margin-top: 0.5vw;

}

.containerColuna1 img,
.containerColuna2 img {
    width: 31vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5vw;
}


.App-header img:first-child {
    width: 22vw;
    height: 11vw;
    z-index: 22;
    margin-right: 6vw;
    margin-left: 7vw;
    left: 4vw;
    top: 0vw;
}

.twitterLogo {
    width: 1.5vw !important;
    height: 1.5vw !important;
    z-index: 22;
    margin-right: 0vw !important;
    margin-left: 0vw !important;
    margin-bottom: 0.3vw;
}

@media (max-width: 600px) {
    .App-header img:first-child {
        width: 32vw;
        height: 16vw;
        z-index: 22;
        margin-right: 39vw;
        margin-left: 4vw;
        left: 4vw;
        top: 0vw;
    }
}